  <p style="margin-top: 5%" class="show">
    <strong>Channel name:</strong>
   <%= @channel.name %>
  </p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Add New Channel', new_channel_path %> |
<%= link_to 'Back', channels_path %>
