<% provide(:title, 'Edit Device') %>
<h1 class="title">Edit device</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <br>
    <p><%= link_to 'Cancel and return to device information', @device %></p>
  </div>
</div>
