  <p style="margin-top: 5%" class="show">
    <strong>Device name:</strong>
   <%= @device.name %>
      <ul><li>device packages: </li></ul>
<% if @packages == nil %>
  <span>Ops, no package yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  
        <ul>
          <ul>
          <% @packages.each do |package| %>
            <% if @devices.include?(package.id) %>
              <li>
              <%= package.name %> 
             </li>
            <% end %>
          <% end %>
          </ul>  
        </ul>
  
  
  
</div> 
<% end %>
   
   
  </p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
