<table width=100%>
  <tbody>
    <% @devices.each do |device| %>
      <tr class="col-xs-10">
        <ul class="list-unstyled">
          <div class="col-xs-offset-0 col-xs-2 text-left">&diams; &nbsp;<span style="font-size: 11px"><%= device.name %><br> <br/></span></div>
        </ul>  
      </tr>
    <% end %>
  </tbody>
</table>