  <p style="margin-top: 5%" class="show">
    <strong>Box name:</strong>
   <%= @set_top_box.name %>
  </p>
  <p>
    <strong>Description:</strong>
   <%= @set_top_box.description %>
  </p>

<%= link_to 'Edit', edit_set_top_box_path(@set_top_box) %> |
<%= link_to 'Back', set_top_boxes_path %>
