$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

/* header*/

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.background{
  background-image: asset-url('background03.png');
  background-size: cover;
  height: 819px;
  margin-left: -358px;
  margin-bottom: -20px;
  width: 1854px;
  opacity: 1.0;
}
.jumbotron{
    background-color: rgba(0,0,0,0);
}
.jumbotron h1{
  color: #000;
  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 60px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 30px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: chocolate;
  background-color: rgba(0,0,0,0);
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* profile */
.profile {
  margin-top: 45px;
}

.show{
  font-size: 1.5em;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;

}

/* forms */
.title {
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  overflow: hidden;
  width: 100%;
  clear: both;
  height: 30px;
  span {
    margin-left: 0;
    font-weight: normal;
  }
}

.box {
  width: auto;
  margin-left: 0;
}

/* Users index */

.show-list {
  list-style: none;
  margin: 0;
  td, th {
    overflow: auto;
    padding: 10px 10px 10px;
    border-bottom: 1px solid $gray-lighter;
     word-break : break-all; overflow:hidden;   }
}

.multi-checkbox {
    width: auto;
}

.dropdown-area {
    margin-left: 0px;
    margin-bottom: 20px;
}

.dropdown-list {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
